@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  background-color: rgb(55, 181, 65);
  color: white;
}
.vis {
  display: none;
}
.activer {
  color: white;
  background-color: None;
}

.picked {
  background-color: black;
}
.goog-te-menu-frame {
  max-width:100% !important; 
}
.goog-te-menu2 { 
  max-width: 100% !important;
  overflow: scroll !important;
  box-sizing:border-box !important; 
  height:auto !important; 
}
